html {
    width: max-content;
    color: #202a34;
}

#button, #buttonBack, #buttonAll {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #e31b53;
    color: white;
    border: none;
    padding: 15px 32px;
    border-radius: 5px;
}

#buttonAll {
    background-color: #888;
}

#center {
    text-align: center;
}

#progressBar {
    width: 100%;
}