h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

html {
    width: 500px;
    text-align: center;
}

#htmlLight {
    color: #202a34;
}

#htmlDark {
    color: white;
    background-color: #202a34;
}

#downloadInput, #buttonHelp  {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#button, #buttonBack, #buttonAll{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #e31b53;
    color: white;
    border: none;
    padding: 15px 32px;
}

#buttonAll {
    background-color: #888;
}

#progressBar {
    width: 100%;
}

input[type="button"] {
    border-radius: 5px;
}

input[type="button"]:hover {
    color: #e31b53;
    background-color: white;
}