name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: 1 1 * * *

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Use Node.js
      uses: actions/setup-node@v6
      with:
        node-version: latest
    - run: npm install
    - run: npm test
    - run: npm run build
    - run: mkdir build
    - run: cp -r css build && cp -r js build && cp Icon* build && cp manifest.json build && cp *.html build
    - uses: actions/upload-artifact@v6
      with:
        name: NHentaiDownloader
        path: ./build
        retention-days: 2
